.App {
  text-align: center;
  /* display: flex; */
}

.profile-pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  padding: 10px;
}

.profile-pic:hover{
  transform: scale(1.1);
}