.App {
  text-align: left;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.profile-pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  padding: 10px;
}

.profile-pic:hover{
  transform: scale(1.1);
}

.counter-cantainer{
  display: flex;
  gap: 10px;
  justify-content: center;
  height: 20px;
  margin-bottom: 20px;
}

.like-button .dislike-button{
  font-size: 10px;
}
.movie-container{
    width: 340px;
    object-fit: cover;
    /* background-color: red; */
}

.movie-spec {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-direction: row;
}

.movie-name {
    font-size: 24px;
    margin: 0;
}

.movie-poster{
  height: 640px;
  width: 340px;
  object-fit: cover;
 
}

.movie-summary{
    text-align: left;
    margin-top: 0;
}

.movie-list{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

}

.add-movie-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px;
  text-align: left;
}
.not-found{
  width: 100%;
  max-height: 700px;
  object-fit: contain;
}

.movie-details-container{
  max-width: 900px;
}

